@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            h1  {
                color: black;
                text-align: center;
            }
            p {
                text-decoration: underline;
                color: blue;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Server Is Up And Working </h1>
        <br />
        <a asp-action="ContactUs"><p>for any issues reports or feedbacks pls contact us  </p></a>






    </body>
</html>
<style>

</style>
