@{
  Layout = null;
}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Standerds</title>
  <meta name="description" content="Simple standards HTML page for ASP.NET Core Razor view." />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css" />
  <style>

  </style>
</head>
<body>
</body>
</html>